.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: radial-gradient(
    circle,
    rgba(255, 178, 0, 1) 0%,
    rgba(235, 91, 0, 1) 47%,
    rgba(217, 22, 86, 1) 100%
  );
  font-size: 80px;
  color: white;
}