.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 85vh;
  background: rgb(255, 178, 0);
  background: radial-gradient(
    circle,
    rgba(255, 178, 0, 1) 0%,
    rgba(235, 91, 0, 1) 47%,
    rgba(217, 22, 86, 1) 100%
  );
}

.leaderboard > h2 {
  color: white;
}

.list {
  height: 50em;
  overflow-y: scroll;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* .leaderboard-table tr:hover {
  background-color: #f1f1f1;
} */
